@charset "utf-8";

div.bk-block {
  margin-bottom: 15px;
}

ul#bk-available-blocks {
  display: none;
  position: absolute;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
}
ul#bk-available-blocks li {
}

div.spacer1 {
  height: 10px;
}
div.spacer2 {
  height: 20px;
}
div.spacer3 {
  height: 30px;
}
