@charset "utf-8";

.bk-general {
  font-size: 9pt;
}
.bk-general a {
  color: #333 !important;
  text-decoration: underline;
}
.bk-general a:hover {
  color: #00ADE6 !important;
}
.bk-general a i {
  text-decoration: none !important;
}
.bk-general input[type=text],
.bk-general input[type=number],
.bk-general input[type=password] {
  color: #666;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
}
.bk-general ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.bk-block {
  margin-bottom: 15px;
}

ul#bk-available-blocks {
  display: none;
  position: absolute;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 2000;
}
ul#bk-available-blocks li {
}

div.spacer1 {
  height: 10px;
}
div.spacer2 {
  height: 20px;
}
div.spacer3 {
  height: 30px;
}

div.fancybox-inner {
  text-align: left;
}
